<div class="container overflow-hidden">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb" style="background-color: transparent;">
            <li class="breadcrumb-item">
                <li class="breadcrumb-item active" aria-current="page">request-service</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-md-8 mt-3 mx-auto">
            <div class="card-2 p-3">
                <form [formGroup]="serviceTicketFormGroup" #serviceTicketForm="ngForm" name="serviceTicketFormGroup">
                    <h4 class="text-bold">Service Request</h4>
                </form>
            </div>
        </div>
    </div>
</div>