<app-bar></app-bar>
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb" style="background-color: transparent;">
            <li class="breadcrumb-item">
                <li class="breadcrumb-item active" aria-current="page">users</li>
        </ol>
    </nav>
    <div class="d-flex justify-content-between align-items-center bg-white pr-3 pt-1 pl-3 mb-4">
        <!-- <div class="form-group"> -->
        <mat-form-field style="width: 70%; font-size: 16px;">
            <mat-label>Search</mat-label>
            <input matInput autofocus [formControl]="searchInput" type="text" id="searchInput" name="searchInput" required minlength="4" autocomplete="off" aria-describedby="searchHint">
        </mat-form-field>
        <div>
            <img src="assets/images/add_user_icon.png" height="40" width="40" alt="">
            <!-- </div> -->
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card-1 pt-3 pb-3 pr-3 pl-3">
                <div class="table-responsive bg-white" style="max-height: 620px;">
                    <table style="font-size: 16px;" class="table bg-white table-borderless table-striped table-sm">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th class="text-bold" scope="col">
                                    User name
                                </th>
                                <th class="text-bold">First name</th>
                                <th class="text-bold">Last name</th>
                                <th class="text-bold">Department</th>
                                <th class="text-bold">Role</th>
                            </tr>
                        </thead>
                    </table>
                    <div class="d-flex justify-content-center mt-2 mb-3">
                        <mat-spinner [hidden]="isLoading" class="align-self-center" mode="indeterminate" [diameter]="35" [strokeWidth]="2">
                        </mat-spinner>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>