<app-bar></app-bar>
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb" style="background-color: transparent;">
            <li class="breadcrumb-item">
                <li class="breadcrumb-item active" aria-current="page">users</li>
        </ol>
    </nav>
    <div class="d-flex justify-content-between align-items-center bg-white pr-3 pt-1 pl-3 mb-4">
        <!-- <div class="form-group"> -->
        <mat-form-field style="width: 70%; font-size: 16px;">
            <mat-label>Search</mat-label>
            <input matInput autofocus [formControl]="searchInput" type="text" id="searchInput" name="searchInput" required minlength="4" autocomplete="off" aria-describedby="searchHint">
        </mat-form-field>
        <div (click)="openAddUserDialog({})">
            <img src="assets/images/add_user_icon.png" height="30" width="30" alt="">
            <!-- </div> -->
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card-1 pt-3 pb-3 pr-3 pl-3">
                <div class="table-responsive bg-white" style="max-height: 620px;">
                    <table style="font-size: 16px;" class="table bg-white table-borderless table-striped table-sm">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th class="text-bold" scope="col">
                                    User name
                                </th>
                                <th class="text-bold">Full name</th>
                                <th class="text-bold">Department</th>
                                <th class="text-bold">Role</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="animate__animated animate__fadeIn" *ngFor="let user of userList$ | async; let i=index;">
                                <td class="align-middle">{{user?.id}}</td>
                                <td class="align-middle">{{user?.username}}</td>
                                <td class="align-middle">{{user.fullname}}</td>
                                <td class="align-middle">{{user.department}}</td>
                                <td class="align-middle">{{user.role}}</td>
                                <td class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <img src="assets/images/view_icon.png" height="24" width="24" alt="">
                                    </div>
                                    <div (click)="openAddUserDialog(user)">
                                        <img src="assets/images/edit_icon.png" height="24" width="24" alt="">
                                    </div>
                                    <div (click)="deleteUser(user)">
                                        <img src="assets/images/delete_icon.png" height="24" width="24" alt="">
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-center mt-2 mb-3">
                        <mat-spinner [hidden]="!isLoading" class="align-self-center" mode="indeterminate" [diameter]="35" [strokeWidth]="2">
                        </mat-spinner>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>