// .mat-focused .mat-form-field-label {
//     /*change color of label*/
//     color: white !important;
// }
// .mat-form-field-underline {
//     /*change color of underline*/
//     background-color: white !important;
// }
// .mat-form-field-ripple {
//     /*change color of underline when focused*/
//     background-color: white !important;
// }
.mat-form-field {
    .mat-input-element {
        color: white;
    }
    .mat-form-field-label {
        color: white;
    }
    .mat-form-field-underline {
        background-color: white;
    }
    .mat-form-field-ripple {
        background-color: white;
    }
    .mat-form-field-required-marker {
        color: white;
    }
}

.mat-form-field.mat-focused {
    .mat-form-field-label {
        color: white;
    }
    .mat-form-field-ripple {
        background-color: white;
    }
    .mat-form-field-required-marker {
        color: white;
    }
    .mat-input-element {
        color: white;
    }
}

// mat-icon-stepper selected color change 
.mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
    background-color: red!important;
}