/* You can add global styles to this file, and also import other style files */

// @import '~@angular/material/theming';
// @include mat-core();
// $primary: mat-palette($mat-blue, 200);
// $accent: mat-palette($mat-orange, 200);
// $theme: mat-light-theme($primary, $accent);
// @include angular-material-theme($theme);
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: HurmeGeometricSans1-regular, "Helvetica Neue", sans-serif;
    background: #F5F5F5;
}

@font-face {
    font-family: HurmeGeometricSans1-regular;
    src: url(assets/fonts/HurmeGeometricSans1/regular.otf);
}

@font-face {
    font-family: HurmeGeometricSans1-semibold;
    src: url(assets/fonts/HurmeGeometricSans1/semiBold.otf);
}

.card-1 {
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

.card-2 {
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px .5px;
}

.btn {
    padding: 5px;
    border-radius: 8px;
}

.btn-primary {
    background-color: #00BDA3;
    color: white;
    border-color: #00BDA3;
}

.bg-primary {
    background-color: #00BDA3 !important;
    color: white;
}

.color-white {
    color: white !important;
}

.btn-primary:hover {
    border-color: #2c8d80 !important;
    font-family: 'avenir-roman';
    color: white;
    background-color: #2c8d80;
}

.mat-button,
.mat-flat-button,
.mat-icon-button,
.mat-stroked-button {
    border-radius: 8px !important;
    min-height: 44px;
}

.bg-white {
    background-color: white;
}

.color-primary {
    color: #00BDA3;
}

.active-link {
    background-color: #00BDA3;
    color: white;
    border-color: #00BDA3;
    border-radius: 15px;
}

.border-primary {
    border-color: #00BDA3;
}

.card-border-primary {
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 189, 163, 0.05) 0px 1px 0px, rgba(0, 189, 163, 0.5) 0px 0px 8px;
}

.subtitle-text {
    font-size: 15px;
    font-family: HurmeGeometricSans1-regular !important;
}

.sub-text {
    font-size: 14px;
    font-family: HurmeGeometricSans1-regular !important;
}

.title-text {
    font-size: 16px;
    font-family: HurmeGeometricSans1-regular !important;
}

.text-bold {
    font-family: HurmeGeometricSans1-semibold !important;
}

.breadcrumb-item {
    font-family: HurmeGeometricSans1-regular !important;
}

//input outline color
.mat-form-field-appearance-outline .mat-form-field-outline {
    color: #00BDA3!important;
    // opacity: 1!important;
}

//mat-input focused color
.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #00BDA3!important;
}

// mat-icon-stepper selected color change 
.mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
    background-color: #00BDA3!important;
}

//input outline color
.mat-form-field-appearance-outline .mat-form-field-outline {
    color: #00BDA3!important;
    // opacity: 1!important;
}

//mat-input focused color
.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #00BDA3!important;
}

// mat-input error outline color
.mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
    color: red!important;
    opacity: 0.8!important;
}

// mat-input carent color
.mat-input-element {
    caret-color: red!important;
}

// mat-input error carent color
.mat-form-field-invalid .mat-input-element,
.mat-warn .mat-input-element {
    caret-color: red!important;
}

// mat-label normal state style
.mat-form-field-label {
    color: rgba(0, 0, 0, .6)!important;
    // color: $mainColor!important;
}

// mat-label focused style
.mat-form-field.mat-focused .mat-form-field-label {
    color: black!important;
}

// mat-label error style
.mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: red!important;
}

mat-form-field.mat-form-field.mat-form-field-appearance-outline>div.mat-form-field-wrapper>div.mat-form-field-flex>div.mat-form-field-infix {
    padding: 0.6em 0px
}

mat-form-field.mat-form-field.mat-form-field-appearance-outline>div.mat-form-field-wrapper>div.mat-form-field-flex>div.mat-form-field-infix>span.mat-form-field-label-wrapper {
    top: -1.0em;
}

.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}

a.link {
    text-decoration: none;
    color: inherit;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}